<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="path" value="C:\Development\Prototype\dynaforms\Scripts"/>
	</appSettings>
	<connectionStrings>
		<add name="Axis" connectionString="Server=AxisDev;Database=Axis;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>